<div>
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">{{error}}</div>
    <ul *ngIf="products?.length" class="product-list">
        <li *ngFor="let p of products" class="product-item"
            [ngClass]="{ 'qty-warning': p.quantity > 0 && p.quantity < 5, 'qty-danger': p.quantity === 0 }">
            <div class="product-item-listing">
                <div class="product-main">
                    <div class="product-title">{{ p.product.name }} ({{ p.product.code }})</div>

                </div>
                <div class="product-main">

                    <div class="product-meta mb-3">{{ p.product.category.name }} • {{ p.product.sub_category.name }}
                    </div>
                </div>
                <div class="product-main">
                    <div class="product-title">Rs. <strong>{{ p.product.price }}</strong> </div>
                    <div class="product-meta">{{ p.quantity }} <span>Qty</span></div>
                </div>
            </div>

        </li>
    </ul>
    <div *ngIf="!products?.length && !loading">No products</div>
</div>