.toast {
    position: fixed;
    left: 10%;
    transform: translateX(-6%);
    bottom: 1.5rem;
    z-index: 2000;
    width: 90%;
    max-width: 90%;
}

.toast-inner {
    padding: .6rem 1rem;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}

.toast-inner.error {
    background: #ff4d4f;
}

.toast-inner.success {
    background: #28a745
}

.toast-inner.info {
    background: #333
}