<app-header></app-header>
<div class="profile">
    <h2>Profile</h2>
    <div *ngIf="user; else noUser">
        <img [src]="imgUrl" alt="avatar" width="120" />
        <div><strong>Name:</strong> {{ user.name || user.full_name || user.username }}</div>
        <div *ngIf="user.email"><strong>Email:</strong> {{ user.email }}</div>
        <div *ngIf="user.company"><strong>Company:</strong> {{ user.company }}</div>
    </div>
    <ng-template #noUser>
        <div>Not logged in</div>
    </ng-template>
</div>